<a href="https://colab.research.google.com/github/Sim-hub22/Assignment1/blob/main/Python_Workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise on Loops**

Display Fibonacci series up to 10 terms.

In [3]:
# Number of terms
n = 10

# First two terms
a = 0
b = 1

print("Fibonacci Series up to", n, "terms:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

Find the factorial of a given number. Ask the user to provide the number.

In [5]:
# Get input from the user
num = int(input("Enter a non-negative integer: "))

factorial = 1

# Check if the number is negative, zero or positive
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter a non-negative integer: 15
The factorial of 15 is 1307674368000

Write a program to print a right angle triangle using the for loop.

In [14]:
# Get input from the user for the number of rows
rows = int(input("Enter the number of rows for the triangle: "))

# Loop for each row
for i in range(1, rows + 1):
    # Loop for each column in the current row
    for j in range(i):
        print("*", end=" ")
    print()

Enter the number of rows for the triangle: 5
*
* *
* * *
* * * *
* * * * *

# **Exercise on Functions**

Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [7]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    return x / y

print("Select operation:")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers only!")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation:
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 3
Enter first number: 10
Enter second number: 0
10.0 * 0.0 = 0.0
Let's do next calculation? (yes/no): y
Enter choice(1/2/3/4): 4
Enter first number: 0
Enter second number: 0
0.0 / 0.0 = Error! Division by zero.
Let's do next calculation? (yes/no): n
Enter choice(1/2/3/4): no
Invalid Input
Enter choice(1/2/3/4): 2
Enter first number: 2
Enter second number: 2
2.0 - 2.0 = 0.0
Let's do next calculation? (yes/no): no

# **Exercise on List and Dictionaries**

Remove the first duplicate element of a list

In [8]:
def remove_first_duplicate(input_list):
    seen = set() # To keep track of unique elements encountered
    new_list = []
    duplicate_removed = False

    for item in input_list:
        if item in seen and not duplicate_removed:
            # This is the first occurrence of a duplicate
            duplicate_removed = True
        else:
            new_list.append(item)
        seen.add(item)
    return new_list

# Example usage:
my_list = [1, 2, 3, 2, 4, 5, 3]
print("Original list:", my_list)
list_without_first_duplicate = remove_first_duplicate(my_list)
print("List after removing first duplicate:", list_without_first_duplicate)

my_list2 = [1, 1, 2, 3, 4, 1]
print("Original list:", my_list2)
list_without_first_duplicate2 = remove_first_duplicate(my_list2)
print("List after removing first duplicate:", list_without_first_duplicate2)

Original list: [1, 2, 3, 2, 4, 5, 3]
List after removing first duplicate: [1, 2, 3, 4, 5, 3]
Original list: [1, 1, 2, 3, 4, 1]
List after removing first duplicate: [1, 2, 3, 4, 1]

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}

keys = ["name", "salary"]

In [11]:
sample_dict = {
    "name": "Anderson",
    "age": 35,
    "salary": 5000,
    "city": "London"
}

keys = ["name", "salary"]

# Create new dictionary by extracting required keys
new_dict = {k: sample_dict[k] for k in keys if k in sample_dict}

print(new_dict)

{'name': 'Anderson', 'salary': 5000}

Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.

list_one = ['one', 'two', 'three']

list_two = [1, 2, 3]

Expected Output: {'one': 1, 'two': 2, 'three': 3}

In [12]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

# Convert the two lists into a dictionary using zip()
my_dictionary = dict(zip(list_one, list_two))

print(my_dictionary)

{'one': 1, 'two': 2, 'three': 3}